#############################
# other fichier             #
#############################

emsdk/
.vscode/
*.o
*.a
fsk_modules/
**/packages.db
*.db
registry.pid
test.db 

#############################
# Build Fichier             #
#############################

build/
build_windows/
bin/
lib/

#############################
# Cmake Fichier             #
#############################

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

#############################
# Rust / Cargo              #
#############################

fsk-core/target/
fsk-core/Cargo.lock

#############################
# Logs & Debug              #
#############################

*.log
debug.log
server.log
ws_server.log
fsk_rust.db

#############################
# system Fichier            #
#############################

.DS_Store
fsk
web/
